@mixin button-reset {
  padding: 0;
  border: none;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

@mixin active-item {
  transition: all 0.5s; 
  
  &--active, &:hover {
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .5);
    background-color: #ffffff;      
  } 

  &:active {
    background-color: transparent;
    box-shadow:none;
  }
}

@mixin color-item {

  &--green {
    background-color: #42b883;
  }

  &--blue {
    background-color: #64c4ed;
  }

  &--pink {
    background-color: #ffbbcc;
  }

  &--lime {
    background-color: #b6e6bd;
  }

  &--grey {
    background-color: #C9D1D3;
  }

  &--purple {
    background-color :#c355f5;
  }

  &--black{
    background-color: #110133;
  }

  &--red{
    background-color: #ff6464;
  }
  
}

@mixin opacity-link {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.8;
  }
}

@mixin hide-font {
  font-size: 0;
  line-height: 0;
}